.widget-wrapper {
    margin: 8px auto;
    width: 100%;
    max-width: 760px;
}

.math-widget {
    padding: 24px; 
    background: #f8f8f8; 
    border-radius: 16px;     
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
    font-family: 'Manrope', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 16px auto;
}

.caption {
    font-size: 16px;
    line-height: 20px;
}

.equation-text {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #262626;
}

.check-btn {
    background: #9d64ff; 
    color: white; 
    border: none; 
    padding: 12px 24px; 
    border-radius: 12px; 
    font-weight: 400; 
    cursor: pointer;
    font-size: 16px;

    &:hover {
    background-color: #b183ff;
  }
}

.result-wrapper {
    width: 100%;
    display:none;
    max-width: 400px;
}

.message-wrapper {
    padding: 0px 12px; 
    border-radius: 8px; 
    text-align: center;
    font-size: 14px;
    line-height: 20px; 
    font-weight: 500; 
    min-height: 40px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    width: 100%;
}

.equation-check {
display: flex; 
gap: 8px; 
width: 100%;
max-width: 400px;
}

.answer-input {
    flex-grow: 1; 
    padding: 12px 16px; 
    border: 1px solid #e5e5e5; 
    border-radius: 12px; 
    font-size: 1rem;
}

.equation-wrapper {
    display: flex;
    flex-direction: column;
    gap:6px;
    text-align: center; 
}

.error-message {
    background-color: rgba(247, 37, 133, 0.1);
    color:#9d0208;
    border:1px solid #f72585;
    font-weight: 400;
}

.success-message {
    background-color: rgba(76, 201, 240, 0.1);
    color:#0a9396;
    border:1px solid #4cc9f0;
    font-weight: 400;
}

.unknown-number {
    color: #f72585; 
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
}

@media screen and (max-width: 1200px) {
    .widget-wrapper {
        max-width: 620px;
    }
}

@media screen and (max-width: 960px) {
    .widget-wrapper {
        width: 100%;
        max-width: calc(100% - 40px);
    }
}